@import url(../build/css/vars.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

.titulo{
    font-family: var(--ff-primary);
    font-size: 2.5rem;
    font-weight: var(--fw-sem-bold)
} 

.titulo-ligero{
    font-family: var(--ff-primary);
    font-size: 2.5rem;
} 

.subtitulo{
    font-family: var(--ff-primary);
    font-size: 1.625rem;
    font-weight: var(--fw-reg);
} 

.texto{
    font-family: var(--ff-secundary);
    font-size: 1rem;
} 








